extends ../main-layout/main-layout

block content
    if products.length > 0
        .grid
            each product in products
                article.card.product-item
                    header.card__header
                        h1.product__title #{product.title}
                    .card__image
                        img(src=product.imageUrl, alt="A Book")
                        // https://cdn.pixabay.com/photo/2014/06/18/18/41/running-shoe-371624_1280.jpg
                    .card__content
                        h2.product__price $#{product.price || 0}
                        p.product__description #{product.description}
                    .card__actions
                        a.link-btn(href=`/admin/edit-product/${product._id}?edit=true`) Edit
                        form(action="/admin/delete-product", method="POST")
                            input(type="hidden", name="productId", value=product._id)
                            input(type="hidden", name="_csrf", value=csrfToken)
                            button.btn(type="submit") Delete
    else
        h1 No Products Found!
