extends ../main-layout/main-layout

block content
    .content-wrapper
        if products.length > 0
            .grid
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src=`/${product.imageUrl}`, alt="A Book")
                            // https://cdn.pixabay.com/photo/2014/06/18/18/41/running-shoe-371624_1280.jpg
                        .card__content
                            h2.product__price $#{product.price || 0}
                            p.product__description #{product.description}
                        .card__actions
                            a.link-btn(href=`/admin/edit-product/${product._id}?edit=true`) Edit

                            input(type="hidden", name="productId", value=product._id)
                            input(type="hidden", name="_csrf", value=csrfToken)
                            button.btn(type="button" onclick="deleteProduct(this)") Delete

            section.pagination
                if hasPreviousPage
                    a(href=`/admin/products?page=${previousPage}`) Previous
                else
                    a.disabled(href="#") Previous
                - for (let i = 1; i <= lastPage; i++)
                    a(href=`/admin/products?page=${i}`, class=(i === parseInt(currentPage) ? 'active' : '')) #{i}
                if hasNextPage
                    a(href=`/admin/products?page=${nextPage}`) Next
                else
                    a.disabled(href="#") Next
        else
            .no-products
                h1 No Products Found!
