extends ../main-layout/main-layout

block content
    .content-wrapper
        if products.length > 0
            .grid
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src=`/${product.imageUrl}`, alt="A Book")
                        .card__content
                            h2.product__price $#{product.price || 0}
                            p.product__description #{product.description}
                        .card__actions
                            if isAuthenticated
                                form(action="/cart", method="POST")
                                    button.btn(type="submit") Add to Cart
                                    input(type="hidden" name="productId" value=product._id)
                                    input(type="hidden", name="_csrf", value=csrfToken)
            section.pagination
                if hasPreviousPage
                    a(href=`/?page=${previousPage}`) Previous
                else
                    a.disabled(href="#") Previous
                - for (let i = 1; i <= lastPage; i++)
                    a(href=`/?page=${i}`, class=(i === parseInt(currentPage) ? 'active' : '')) #{i}
                if hasNextPage
                    a(href=`/?page=${nextPage}`) Next
                else
                    a.disabled(href="#") Next
        else
            .no-products
                h1 No Products Found!
