extends ../main-layout/main-layout

block content
    if product
        .centered
            article.card.product-item.card-detail
                header.card__header
                    h1.product__title #{product.title}

                hr
                .card__image
                    img(src=product.imageUrl, alt=product.title)
                .card__content
                    h2.product__price $#{product.price || 0}
                    p.product__description #{product.description}
                .card__actions
                    form(action="/cart", method="POST")
                        button.btn(type="submit") Add to Cart
                        input(type="hidden" name="productId" value=product._id)
                    a.link-btn(href="/products") Back to Products
    else
        h1 Product Not Found!
